@import "./../../../theme/_breakpoints.scss";
@import "./../../../theme/_palette.scss";

.gloablToolbar {
  flex: 1;
  height: 48px;
  background: $colorPrimary;
  border-bottom: 1px solid darken($colorGrey, 10%);

  button {
    background: transparent;
    width: auto;
    margin-left: 10px;
    border-radius: 0;
    padding: 0 16px;
    font-size: 16px;
    color: #ffffff;
    min-width: 64px;
    min-height: 48px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.25s ease-out;

    &:hover {
      background: rgba(0, 0, 0, 0.08);
    }

    &:focus {
      outline: 0;
    }

    &.selected {
      background: rgba(0, 0, 0, 0.24);
    }
  }
}
