<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="jfk-search-service-g437uvbdspfni" />
      <add key="SearchServiceApiKey" value="15B5A77B670806A773A37DDDB0307DE6" />
      <add key="SearchServiceQueryKey" value="7A6521FFCCC305B6927ECA2ACCFC4529" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="164abdfa9c86457196757adb755dfe8f" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jfkstorageg437uvbdspfni;AccountKey=zaUY7xsa3OLgYytHR187NAvxAlJpNxQ21S1KyLfinH5n9XNv5OR4/oDKiJPDPua8FjvvLpOjMp+lW7v/G1asbw==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="jfk-site-g437uvbdspfni" />
      <add key="AzureWebAppUsername" value="$jfk-site-g437uvbdspfni" />
      <add key="AzureWebAppPassword" value="v8jn4iS29nW7n0vYEBp8HNyHFpAdzLLAwlNSuimGgjW2eq0erqPl36moeqgZ" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="jfk-function-app-g437uvbdspfni" />
      <add key="AzureFunctionUsername" value="$jfk-function-app-g437uvbdspfni" />
      <add key="AzureFunctionPassword" value="wphoTfWbdvxgetho3djw13Bcrc817tEylEtlFjhWN2Pd7PHbjXKcwDFCiCzg" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="SharedAccessSignature=st=2019-05-02T21%3A30%3A00Z&amp;se=9999-12-21T12%3A00%3A00Z&amp;sp=rl&amp;sv=2018-03-28&amp;sr=c&amp;sig=NmOktoltvmd9gLqHidRuQN06xeSXbCVYIVti5prLdmA%3D;BlobEndpoint=https://azsjfkfiles.blob.core.windows.net/" />
      <add key="JFKFilesBlobContainerName" value="jfkfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="FileSkillsetName" value="jfkfileskillset" />
      <add key="TextSkillsetName" value="jfktextskillset" />
      <add key="IndexerPrefix" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>