@import "./../../../theme/_breakpoints.scss";
@import "./../../../theme/_palette.scss";

.jsonReaderComponent {
  flex: 1 1 auto;
  min-height: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @include respond-to-desktop {
    flex-direction: row;
    margin: 1rem;
  }

  .jsonRendered {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 1rem;

    .viewport {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin: 0;
      overflow: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;
      background-color: white;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 375px;
  min-height: 100%;
  border-right: 1px solid #c8c8c8;

  .column-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 48px;
    padding: 12px 10px 12px 20px;
    background-color: #f6f6f6;
    border-bottom: 2px solid #d8d8d8;

    label {
      flex: 1;
      font-size: 14px;
      font-weight: 600;
      color: #4a4a4a;
      line-height: 24px;
    }

    .columnHeaderMenu {
      flex: 0 0 156px;
      height: 24px;
      text-align: right;

      span.columnHeaderHintText {
        display: inline-block;
        margin-right: 10px;
        color: #4a4a4a;
        font-size: 12px;
        line-height: 24px;
      }

      .smallChevron {
        display: inline-block;
        width: 24px;
        height: 24px;
        color: rgba(0, 0, 0, 0.46);
        font-size: 24px;
        line-height: 24px;
        transition: color 0.25s ease-out;

        &.chevronPrev {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &.chevronNext {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        &:hover {
          color: tint($colorPrimary, 50%);
        }

        span[class^="MuiTouchRipple"] {
          display: none;
        }
      }
    }
  }

  ul {
    flex: 1;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #000000;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      border-bottom: 2px solid #d8d8d8;

      .line-item-detail {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 20px;
        line-height: 20px;

        &.has-children {
          position: relative;
          padding-right: 35px;
          cursor: pointer;
          transition: background-color 0.25s ease-out;

          &:after {
            @include jfk-icon;
            content: "\e906";
            position: absolute;
            top: 9px;
            right: 8px;
            font-size: 24px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            color: $colorPrimaryDarker;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }

          &.has-search-item {
            &:after {
              border-radius: 12px;
              background-color: #ff0;
            }
          }

          label {
            flex: 1;
            color: $colorPrimaryDarker;
            pointer-events: none;
          }

          &:hover {
            background-color: tint($colorPrimary, 86%);
          }
        }

        &.selected {
          background-color: tint($colorPrimary, 75%);

          label,
          &:after {
            color: $colorPrimaryDarker;
          }

          &:hover {
            background-color: tint($colorPrimary, 86%);

            label,
            &:after {
              color: $colorPrimaryDarker;
            }
          }

          &.has-search-item {
            &:after {
              background-color: transparent;
            }
          }
        }

        label {
          flex: 0 0 100px;
          font-size: inherit;
          font-weight: 600;
          color: #4a4a4a;
        }

        span {
          flex: 1;
          font-size: 13px;
          font-weight: #000000;
        }
      }
    }
  }
}

.jsonGridSummary {
  height: auto !important;
  padding: 16px;
  background-color: #ffffff;
  color: black;

  @include respond-to-desktop {
    height: auto !important;
  }

  .column {
    flex: 1;
    border: 1px solid #c8c8c8;

    ul {
      li {
        border-bottom-width: 0;

        .line-item-detail {
          label {
            pointer-events: none;
          }

          &.has-children:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  em:hover {
    background: #ff0;
    border: 0;
  }
}

em {
  font-style: normal;
  background: #ff0;

  &:hover {
    background: tint($colorPrimary, 50%);
    border: 3px solid $colorPrimary;
  }
}
