
@{
    ViewData["Title"] = "About";
}

<main role="main" class="m-5">
    <div class="content row m-3">
        <div class="col-md-8">
            <div>
                <p>The E2E Knowledge Mining Seller Enablement Kit is built for the Field to sell Microsoft AI platform by showcasing an End to End solution that includes the key platform features, best practices, and extend the art of the possible on Knowledge Mining.</p>

                <p>Demo with your own data</p>

                <p>Bring Your Own Dataset with a set of  Verticals - Healthcare, Oil & Gas, Retail and more!</p>

                <ul>
                    <li><b>Easy 1 click demo</b> for sellers and modular design for developers.</li>
                    <li><b>Latest</b> Knowledge Mining updates  and modernized Web frameworks</li>
                    <li>Includes new Cognitive skills (<b>meta data extractor</b>)</li>
                    <li>New Graphical experience with <b>contextual data</b></li>
                    <li>Customizable <b>Web UI layer</b></li>
                    <li>New <b>PBI dashboards</b> to visualize the Knowledge Store over your own data</li>
                </ul>
            </div>
            
            <p class="block">
                Using this starter project, you can explore how to use both built-in and custom Cognitive Skills inside of Azure Search to explore your documents, stored in an Azure Storage account.
                The Cognitive Search capabilities of Azure Search ingests your data from almost multiple datasources and enriches it using a set of cognitive skills that extracts knowledge and then lets you explore the data using Search.
            </p>
            <p class="block">
                To get started, select the Upload menu item, and upload a few documents into the Azure Storage account created for you during the deployment process.
            </p>
        </div>
    </div>
    
    <div class="content row m-3">
        <div class="col-md-8">
            <partial name="_Architecture" />
        </div>
    </div>

    <div class="content row m-3">
        <div class="col-md-8">
            <h5>LEARN MORE</h5>
            <div style="font-size:16px;">
                <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a>
            </div>
            <div style="font-size:16px;">
                <a href="https://docs.microsoft.com/en-us/azure/search/cognitive-search-resources-documentation">Cognitive Search</a>
            </div>
            <div style="font-size:16px;">
                <a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Text Analytics</a>
            </div>
            <div style="font-size:16px;">
                <a href="https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/">Computer Vision</a>
            </div>
        </div>
    </div>
</main>