
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

Add your organization's privacy policy here, or updated the link in the _Footer partial view with the link to your organizaiton's privacy policy.