@import "./_material-colors.scss";
@import "./_mixins.scss";

// Define the App's Primary, Secondary and Error colors
// These can be defined using HEX values (ie: #000000) or using Sass variables imported from '_material-colors.scss' (ie: $red-500)
// For a visual guide of the Material Colors, visit https://material-ui.com/customization/color/#color-palette
$app-primary-color: #4f8ef8;
$app-secondary-color: #25cbb2;
$app-error-color: $red-A400;

// Definitions for default gray, black and white
$default-gray: #ececec;
$black: #121212;
$white: #ffffff;

// Define if the App's theme is Light or Dark
$app-theme-type: light; // light, dark

// Define the default text color for the App (be sure this text color is legible)
$default-text-color: $black;

// Set the Logo for the App.
// For best results, image should be saved as a .png with a transparent background.
// Image file should be placed in assets/img folder and path should be set in quotes (ie: "logo.png";)
$app-custom-logo-name: "search-files.svg";

// (Optional) Set a custom background color for the App.
// If set to null, App's background color will automatically be defined based on the $app-theme-type
@function defineCustomBgColor($customBg, $appTheme) {
  @if $appTheme == light {
    @return #f8f8f8;
  } @else if $appTheme == dark {
    @return #212121;
  }
}
$app-custom-background-color: defineCustomBgColor(
  $app-primary-color,
  $app-theme-type
);

// (Optional) Set a custom background image for the App.
// Image file should be placed in assets/img folder and path should be set in quotes (ie: "../assets/img/bg.jpg";)
// If set to none, App will fallback to the default background color
$app-custom-background-image-path: ""; //"../assets/img/bg_alt.jpg";

// Define the App's Typography
$app-font-family-path: "https://fonts.googleapis.com/css?family=Open+Sans:300,600,700";
$app-font-family: "Open Sans", "serif"; // font names should be in quotes, comma separated
$default-font-weight: 300;

:export {
  appCustomBackgroundColor: $app-custom-background-color;
  appCustomBackgroundImagePath: $app-custom-background-image-path;
}
