@import "./_theme-setup.scss";

// Main Font.
@import url("#{$app-font-family-path}");
$baseFontFamily: $app-font-family;
$baseFontWeight: $default-font-weight;

// Icon Font.
$font-path: "../assets/fonts";

@font-face {
  font-family: "jfk-icons";
  src: url("#{$font-path}/jfk-icons.eot") format("embedded-opentype"),
    url("#{$font-path}/jfk-icons.ttf") format("truetype"),
    url("#{$font-path}/jfk-icons.woff") format("woff"),
    url("#{$font-path}/jfk-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

:export {
  baseFontFamily: $baseFontFamily;
  baseFontWeight: $baseFontWeight;
}
